#body {
  height: 100%;
  background-image: url("../media/fondo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.seccion{
  margin-bottom: 2rem;
  text-align: center;
}



