.interfaz__boton {
  background: rgb(126, 153, 8);
  border-radius: 10px;
  box-shadow: 0px 0px 20px 5px rgba(213, 250, 3, 0.822);
  color: white;
  font-size: 1.5vw;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 4px;
  text-align: center;
  transition: all 0.3s ease;
  width: 17vw;
}
.interfaz__boton:first-child {
  margin-right: 20px;
}

.invisible {
  display: none;
}
