.formulario {
  display: inline-block;
}
.formulario__input {
  background: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0px 0px 20px 5px rgba(213, 250, 3, 0.822);
  color: black;
  font-size: 1.2vw;
  font-weight: bold;
  height: 2.5vw;
  margin-right: 1rem;
  padding: 8px;
  text-transform: uppercase;
  transition: all 0.3s ease;
  width: 20vw;
}

.formulario__boton {
  background: rgb(126, 153, 8);
  border-radius: 10px;
  box-shadow: 0px 0px 20px 5px rgba(213, 250, 3, 0.822);
  color: white;
  font-size: 1.2vw;
  font-weight: bold;
  height: 2.5vw;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s ease;
  width: 10vw;
}
.formulario__boton:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 480px) {
  .formulario{
    display: flex;
    margin-bottom: 5rem;
    flex-direction: column;
    align-items: center;
  }
  .formulario__input{
    font-size: 3rem;
    width: 30rem;
    height: 5rem;
    margin-bottom: 2rem;
  }
  .formulario__boton {
    font-size: 3rem;
    height: 5rem;
    width: auto;
  }
}